@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

:root {
    --bg-color: #000;
    --text-color: #fff;
    --nav-color: #999;
    --nav-selected: #fff;
}

body {
    font-family: Space Mono;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}

h1 {
    font-size: 20vmin;
    font-weight: 400;
    margin: 0;
}

section.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div.content {
    max-width: 100%;
}

.current-price  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}


.currency-conversion {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 2;
    justify-content: space-between;
    box-sizing: border-box;
}

.col {
    font-size: 2.3vmin;
    width: 40%;
    
}

input {
    width: 100%;
    height: 20px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
}

nav {
    position: fixed;
    top: 30px;
    right: 30px;
}

nav a {
    color: var(--nav-color);
    text-decoration: none;
}

nav a.selected {
    color: var(--nav-selected);
}

@media (max-width: 600px) {
    .currency-conversion {
        flex-direction: column;
    }

    .col {
        width: 100%;
        margin-bottom: 30px;
    }
}
